<title><%- contentFor('title') %> Creation ou modification</title>

<%- contentFor('content') %>
<div class="card">
  <form method="post">
    <div class="card-header">
        <h4>
            <% if(client.id == -1) { %>
              <%= msg.fiche.client.titres.creation %>
            <% } else { %>  
              <%= msg.fiche.client.titres.modification + client.prenom + ' ' + client.nom %>
           <% } %>
        </h4>
    </div>
  
    <div class="card-body">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                  for="clientNomId"><%= msg.fiche.client.nom %></label>
          <div class="col-md-8">
            <input class="form-control"
                    id="clientNomId"
                    name="nom"
                    type="text"
                    value="<%= client.nom %>"
                    placeholder="<%= msg.fiche.client.nomPlaceHolder %>" 
                    required/>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                  for="clientPrenomId"><%= msg.fiche.client.prenom %></label>
          <div class="col-md-8">
            <input class="form-control"
                    id="clientPrenomId"
                    name="prenom"
                    value="<%= client.prenom %>"
                    type="text"
                    placeholder="<%= msg.fiche.client.prenomPlaceHolder %>" 
                    required/>
          </div>
        </div>
    </div> 

    <div class='card-footer'>
      <button class="btn btn-primary mr-3"
              style="width:100px;"
              title="<%= msg.fiche.boutons.validerTitle %>"
              type="submit"><%= msg.fiche.boutons.valider %>

      </button>
      <button class="btn btn-outline-secondary mr-3"
              style="width:100px;"
              type="button"
              title="<%= msg.fiche.boutons.annulerTitle %>">
        <a href="/client" class="button is-text"><%= msg.fiche.boutons.annuler %></a>
      </button> 
      <% if(client.id != -1) { %> 
        <button class="btn btn-outline-warning"
              style="width:100px"
              type="button"
              title="<%= msg.fiche.boutons.supprimerTitle %>">
          <a  href="/client/<%= client.id %>/delete"><%= msg.fiche.boutons.supprimer %></a>
        </button>  
      <% } %>      
    </div> 
  </form>


</div>
<!-- <br>Value: {{ client | tojson  }} -->
